@import "~normalize.css";
@import "modules/heart.scss";
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");

body {
  font-family: "Nerko One", cursive;
  background: rgb(255, 146, 211);
  background: linear-gradient(
    180deg,
    rgba(255, 146, 211, 1) 0%,
    rgba(255, 0, 151, 1) 50%,
    rgba(255, 0, 32, 1) 100%
  );
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.h1 {
  color: rgb(255, 146, 211);
  -webkit-text-stroke: 2px black;
  font-size: 48px;
  z-index: 1;
}

.heart {
  &__container {
    animation: heartFall 10s linear forwards,heartScale 2.5s infinite ease-in-out alternate;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 50px;
    z-index: 0;
    &-image {
      position: absolute;
      left: 0;
      width: 50px;
      height: 50px;
      animation: leftToRight 2s infinite ease-in-out alternate;
    }
  }
}
